$color-background: #faf160;
$color-text: #362a75;
$font-header: 'Noto Serif', serif;
$font-body: 'Noto Sans', sans-serif;

*, *:after {
  box-sizing: border-box;
}
body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-body;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;

}
header {
  min-height: 8vh;
}
main {
  display: flex;
  justify-content: center;
  min-height: 87vh;
}
footer {
  min-height: 5vh;
}

h1 {
  color: $color-text;
  font-family: $font-header;
  font-kerning: normal;
  margin: 0;
  padding: 0.5em;
  text-rendering: optimizeLegibility;
  width: auto;
  @media screen and (min-width: 768px){
    border-left: 5px solid $color-text;
  }
}

.survey-wrapper {
  min-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  @media screen and (min-width: 768px) {
    min-width: 80%;
    width: 80%;
  }
  @media screen and (min-width: 992px) {
    min-width: 50%;
    width: 50%;
  }
  .survey-questions {
    padding: 2em;
    min-width: 100%;
  }
}
.survey-nav {
  align-items: center;
  color: #362a75;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  align-self: flex-end;
  @media screen and (min-width: 768px) {
    flex-flow: row nowrap;
  }
  .btn-prev,
  .btn-next {
    align-items: center;
    border: 3px solid transparent;
    display: flex;
    font-size: 0.9em;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 44px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;

    @media screen and (min-width: 750px) {
      border: 3px solid transparent;
      font-size: 1em;
      font-weight: normal;
      justify-content: flex-start;
      letter-spacing: normal;
      padding: 0 1em;
      text-transform: none;
      width: 33%;
    }
  }
  .progress-text {
    width: 0px;
    color: transparent;

    @media screen and (min-width:750px){
      display: flex;
      width: 33%;
      color: $color-text;
    }
  }
  a {
    color: $color-text;
  }
}
.button {
  align-items: center;
  align-self: center;
  background-color: $color-text;
  border-color: $color-text;
  color: $color-background;
  display: flex;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  letter-spacing: 2px;
  min-width: 213.576px;
  padding: 0 6px;
  text-decoration: none;
  text-transform: uppercase;
  @media screen and (min-width: 750px) {
    border: 3px solid transparent;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: normal;
    max-width: 300px;
    padding: 0 1em;
    text-transform: none;
    width: 33%;
  }

}

.button-start {
  align-self: center;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media screen and (min-width: 992px) {
    margin: 3em auto;
  }
}

.question {
  align-items: center;
  border: 3px solid $color-text;
  display: flex;
  font-family: $font-header;
  font-size: 1.5em;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  width: 50px;
  @media screen and (min-width: 768px) {
    font-size: 3.5em;
    height: 150px;
    width: 150px;
  }
}
.question-text {
  font-size: 1.4em;
  font-family: $font-header;
  font-weight: bold;
}

a.btn-next {
  cursor: pointer;
}
p.btn-next {
  cursor: not-allowed;
}
a.btn-prev {
  cursor: pointer;
}
p.btn-prev {
  cursor: not-allowed;
}

.form-group {
  margin-top: 1em;
  input[type="text"], textarea {
    border-radius: 4px;
    clear: both;
    display: block;
    font: inherit;
    margin: 0;
    max-width: 500px;
    padding: 0.4em;
    width: 100%;
  }
}

.text-help {
  font-size: 0.8em;
  margin: -25px auto 25px auto;
  padding: 0;
}
.number {  
	color: $color-text;
  -webkit-text-fill-color: $color-background; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-text;
	font-size:6em;
}
.af-rating {
  @media screen and (min-width:750px) {
    display: flex;
    max-width: 100%;
    flex-flow: row wrap;
    .question-text, .text-help {
      min-width:100%;
    }
    .form-check {
      display: flex;
      label {
        border: 1px solid magenta;
        background-color: aliceblue;
        margin-left: -10px;
        position: relative;
        padding: 0.25em;

        input[type="radio"] {
          margin-left: 10px;
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: -1;  
        }
      }

    }
  }
}

fieldset.rating {
  padding: 1em;
  border: none;
  padding-left: 0;
  margin: 25px 0;
  legend {
    // question-text
    margin-bottom: 10px;
  }
}
.rating-label {  
  font-family: 'Noto Serif', sans-serif;
  color: $color-text;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-text;
	font-size: 3em;
	padding:0 0.5em;
	&:hover {
		cursor: pointer;
	}
}
.rating-radiogroup {
	.rating-radio {
    -webkit-appearance: none;
		appearance: none;
	}
	.rating-radio:checked + .rating-label {
		-webkit-text-fill-color: $color-text;
		transition: all .2s ease-in-out;
		background-color: $color-background;
	}	
}